<h1>User Stories</h1>

<a href="/userStories/create/<%= projectId %>" class="button">Créer US</a>

<div class="mainContainer">
  <div>
    <% userStories.forEach(userStory => { %>

      <div class="card">
        <h3><%= userStory.title %></a></h3>
        <p> <%= userStory.description %> </p>
        <p> <%= userStory.acceptanceCriteria%> </p>
        <p> <%= userStory.priority%> </p>
        <div class="buttons">
          <a href="/userStories/update/<%=userStory._id%>"><button>Modifier</button></a>
          <a href="/userStories/delete/<%=userStory._id%>"><button>Supprimer</button></a>
        </div>
      </div>
    <% }); %>
  </div>

</div>