<h1>Projets</h1>

<div class="projects">

  <% projects.forEach(project => { %>

    <div class="project">
      <h3><a href="userStories/<%=project._id%>"><%= project.name %></a></h3>
      <!-- <h3> <%= project.name %> </h3> insérier lien vers userStories/project._id -->
      <p> <%= project.description %> </p>
      <div class="buttons">
        <a href="/projects/update/<%=project._id%>"><button>Modifier</button></a>
        <a href="/projects/delete/<%=project._id%>"><button>Supprimer</button></a>
      </div>
    </div>
  <% }); %>

</div>