<h1>Projets</h1>

<div class="mainContainer">

  <% projects.forEach(project => { %>

    <div class="card">
      <h3><%= project.name %></h3>
      <div class="buttons">
        <a href="userStories/<%=project._id%>" class="button">User Stories</a>
        <a href="bugs/<%=project._id%>" class="button">Bugs</a>
      </div>
      <p> <%= project.description %> </p>
      <div class="buttons">
        <a href="/projects/update/<%=project._id%>"><button>Modifier</button></a>
        <a href="/projects/delete/<%=project._id%>"><button>Supprimer</button></a>
      </div>
    </div>
  <% }); %>

</div>